@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  

  * {
    @apply border-gray-200 dark:border-gray-700;
  }

  body {
    @apply font-sans antialiased  dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }
  
  /* Hide scrollbars but keep functionality */
  .scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }
  
  /* Custom styles for thin scrollbars */
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

/* Tailwind custom class */
.animatedCard {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.animatedCard:hover {
  transform: translateY(-4px) scale(1.01);
  box-shadow: 0 8px 20px rgba(11, 11, 11, 0.05);
}

.animatedCard:active {
  transform: scale(0.97);
}

@keyframes ping-slow {
   0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.4;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
  }
  .animate-ping-slow {
  animation: ping-slow 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
   }


/* Add custom xs breakpoint for very small screens */
@media (min-width: 480px) {
  .xs\:inline {
    display: inline;
  }
  
  .xs\:block {
    display: block;
  }
  
  .xs\:flex {
    display: flex;
  }
  
  .xs\:hidden {
    display: none;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 100vw));
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}